@font-face {
    font-family: CircularSp;
    src: url(./Fonts/CircularStd-Book.ttf);
}

*{
    box-sizing: border-box;
    margin: 0;
}
.header{
    background-color: #000;
    z-index: 1020;
    right: 0;
    left: 0;
    position: relative;
    top: 0;
    font-family: CircularSp,spotify-circular,Helvetica,Arial,sans-serif;
}
.top_links{
    text-decoration: none;
    color: azure;
}
a:hover{
    color: green;
}
.top_menu{
    list-style: none;
    display: flex;
    flex-wrap: wrap;
}
.top_nav{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    color: azure;
}
.item{
    margin: 1%;
}
.header_logo_container{
    display: inline-block;
}