*{
    margin: 0;
    padding: 0;
}
.header{
    display: grid;
    grid-template-columns: 2.5fr 1fr;
    grid-template-rows: 100px;
}
.logo{
    background-color: aqua;
}
.menu{
    background-color: blueviolet;
}
.section{
    background-color: green;
}
.section_article{
    background-color: orange;
    height: 30%;
}
.footer{
    background-color: black;
    color: white;
    height: 100px;
}
main{
    height: 80vh;
    display: grid;
    grid-template-columns: 75% 25%;
    grid-template-rows: 400px 50px;
}
.footer-main{
    background-color: pink;
}
.aside{
    background-color: blueviolet;
    grid-row: span 2;
}
@media all and (max-width:768px) {
    .header {
        grid-template-columns: 1fr;
        grid-template-rows: 50px 50px;
    }
    .aside{
        display: none;
    }
    main{
        grid-template-columns: 100%;
    }
}
@media (min-width:800px) {
    .section{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: auto;
        grid-gap: 5px;
    }
}
@media (min-width: 1024px){
    .container{
        width: 1024px;
        margin: auto;
    }
}